# /etc/devin-bot/config.env
# Permessi consigliati: chmod 600, chown tillo:tillo (contiene il BOT_TOKEN)

BOT_TOKEN="RECUPERA_DA_BOTFATHER_BOT_DEDICATO_DEVIN"
ALLOWED_CHAT_IDS="CHANGEME_TUO_CHAT_ID"

DEVIN_API_URL="http://localhost:5000"
POLL_INTERVAL_SECONDS="15"
SILENCE_HOURS="12"
CHAT_TIMEOUT_SECONDS="180"
